html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
canvas {
	display: block;
	margin: 0 auto;
	background-color: #fff;
	background:url(img/BG.png);
	background-size: 100% 100%;
	z-index: 1;
}
body, #game-container {
	overflow: hidden;
}

#game-container {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	background-color: #2D373D;

	/*overflow: hidden;*/
    width: 100%;
    height: 100%;
    display:block;
}
#game-container.mobile {
    position:absolute;
    top:0px;
    left:0px;
}
#game-container.tablet {
    position:absolute;
    top:0px;
    left:0px;
}
#game-container.desktop {
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

#menu {
	position: absolute;
	top: 0;
	left: 0;
	/*background-color: #2D373D;*/
	width: 100%;
	height: 100%;
}

h1, p, a {
	position: relative;
	/*z-index: 1; */
	font-family: 'Chewy', cursive;
	color: white;
	text-align: center;
}

h1 {
	font-size : 48px;
}
/*
p {
	font-size: 20px;
	margin-top: 10px;
	padding-left: 200px;
}
a{
	font-size : 16px;
	color: #10C198;
	margin: 0;
	display: inline-block;
	position: relative;
	left: 0;
}
a:hover {
	color: #0da582;
}

a#start {
	font-size: 30px;
	/*display: block;* /
	display: none;
	width: 145px;
	top: 30%;
	left: 0; 
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	color: white;
	padding: 10px;
	text-decoration: none;
	margin: 0 auto; 
}
a#start:hover {
	color: #10C198;
	border-top: 5px solid #10C198;
	border-bottom: 5px solid #10C198;
}

a#tweet {
	font-size: 18px;
	/*display: block;* /
	display: none;
	top: 100%;
	left: 0; 
	padding: 10px;
	text-decoration: none;
	margin: 0 auto; 
}
*/
#loading {
	color: white;
	display: block;
	font-size: 30px;
	left: 0; 
	margin: 0 auto; 
	text-decoration: none;
	top: 50%;
}


#info2 {
	top: 100%;
	padding : 0;
}

#selection-box {
    display: none;
    position: absolute;
    border-color: gold;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    background: white;
    left: 50%;
    top: 50%;
    height: 320px;
    width: 320px;
    margin-left: -185px;
    margin-top: -180px;
    padding: 20px 10px;
    text-align: center;
}
#selection-box p, #symbol-select {
	color: #000;
	font-size: 36px;
	font-family: 'Chewy', cursive;
}
#symbol-display, #symbol-select {
	margin-top: 30px;
}
#symbol-display {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 155px;
    width: 235px;
    margin-left: -120px;
    margin-top: -50px;
    border-color: green;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
}
#symbol-display img {
	display: none;
    height: 155px;
    width: 235px;
}

/*
#selection-box #score {
    margin: 5px;
}

#selection-box #score img {
    vertical-align: middle;
}
*/